*{
	box-sizing: border-box;
}

body{
	background-color: #e0e0e0;
}

.navbar,.page-header{
	background-color:#d60f0f;
	border:0;
	opacity: .8;
}

.page-header{
	margin-top: 0;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 20px;
}

.navbar-header>a{
	font-size: 3em;
	margin-top: 20px;
	font-weight: bold;

}

#brand{
	color: #FFFFFF;
	opacity: 1;
}

.item{
	font-size: 1.5em;
	color: #FFFFFF;
	font-family: 'Bree Serif', serif;

}

#title{
	font-weight: bold;
	text-decoration: underline;
}

.section{
	padding:20px ;
	background-color: #b3e2e8;
	margin-bottom: 15px;
}
.text{
	opacity: 1;
	color: #000000;
	text-align: justify;
	font-family: 'Caveat', cursive;
	font-size: 1.5em;
}

h3,h2{
	font-family: 'Bree Serif', serif;
	font-weight: bold;
}